<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.3.0" targetFramework="net46" />
  <package id="Antlr4.Runtime" version="4.3.0" targetFramework="net46" />
  <package id="ExceptionAnalyzer" version="1.0.5" targetFramework="net45" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.1.0" targetFramework="net45" />
  <package id="ReferenceAnalyzer" version="0.5.2" targetFramework="net45" />
</packages>